/** @format */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  .Raveena {
    max-width: 300px !important;
  }
}

@media (max-width: 768px) {
  img.cover {
    height: auto !important; /* let it scale */
    max-height: 60vh; /* optional: prevents it from becoming too tall */
    object-fit: contain; /* or 'cover', depending on your design */
  }
}
